@import 'variables';

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

*{
    font-size: 14px;
    padding: 0;
    margin: 0;
}


// Mobile first

.wrapper{
    background-color: $bg-main;
    font-family: $font-stack-secondary;
    color: $font-color;
    margin: 2em;

    .slogan{
        
        img.illustration-big{
            margin:0 auto;
        }
        h2{
            margin:2em 0 1em;
        }
        p{
            padding-bottom: 1em;
        }
        a{
            color:aqua;
        }
        
    }

    .testimonials{
        margin-bottom: 10em;
        img{max-width: 20px;}
    
        .testimonials-container{
            background-color: $bg-testimonials;
            margin-bottom: 2em;
            border-radius: 5px;
            padding: 2em;
            line-height: 1.5em;
            display: flex;
            flex-direction: column;
            .circular-square{
                border-radius: 50%;
                max-width: 30px;
            }
            .client-wrap{
                margin-top: 1em;
            }
            p{
                font-size: 12px;
            }
            .client-name{
                font-weight: 700;
            }
            
        }
    }
    .early-access-container{
        background-color: $bg-testimonials;
        text-align: center;
        border-radius: 10px;
        padding: 2em;
        h2,p{
            margin-bottom: 2rem;
            
        }
        input{
            border-radius: 30px;
            padding: 1em 5.5em;
            max-width:auto;
            margin: 0 auto;
        }
    
    }

}

body{
    background-color: $bg-main;
    margin: 0 auto;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-color;
    font-family: $font-stack-primary;
    padding-bottom: 2.5em;

    a{
        font-size: .9rem;
        color: $font-color;
        text-decoration: none;
    }
    
}

.hero{
    text-align: center;
    .hero-heading{
        margin-top: 2em ;
    }
    .hero-subheading{
        margin-top: 1.5em;
    }   
}

h1{
    font-size: 1.7rem;
    font-weight:$font-weight-lg;
}

h2{
    font-size: 1.3rem;
}


h1,h2,h3{
    font-family: $font-stack-primary;
}

.cta-start{
    padding: 1em 6em;
    font-family: $font-stack-secondary;
    background: $accent-cta;
    color: $font-color;
    margin: 2em;
    white-space: nowrap;
    border-radius: 30px;
}

//features category
.feature{
    margin: 6em 0;
    text-align: center;
    display: flex;
    flex-direction: column;

    .feature-container{
        padding: 2em 0em;
        h3{
            font-size: 1.2rem;
        }
    }
    img{
        width: 20%;
    }
}


//slogans
.slogan{
    margin:7em 0em 10em;
    p{
        margin: 2em o;
    }
}



.illustration-big{
    width: 90%;
    margin: 0 auto;
}

.logo{
    width: 25%;
}

footer{
    background-color: $bg-footer;
    .logo{
        width: 50%;
    }
    .footer-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

// desktop
