@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  font-size: 14px;
  padding: 0;
  margin: 0;
  color: white;
}

body {
  background-color: #181f2a;
  margin: 0 auto;
}

.illustration-big {
  width: 90%;
  margin: 0 auto;
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
}

h1, h2, h3 {
  font-family: Raleway;
}

.cta-start {
  padding: 1em 5em;
  border: 0px;
  font-family: Open Sans;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  color: white;
  margin: 2em;
  white-space: nowrap;
  border-radius: 30px;
}

.logo {
  width: 25%;
}

.wrapper {
  background-color: #181f2a;
  font-family: Open Sans;
  color: white;
  margin: 2em;
}

.wrapper nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Raleway;
  padding-bottom: 2.5em;
}

.wrapper nav a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
}

.wrapper .hero {
  text-align: center;
}

.wrapper .hero .hero-heading {
  margin-top: 2em;
}

.wrapper .hero .hero-subheading {
  margin-top: 1.5em;
}

.wrapper .feature {
  margin: 6em 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .feature .feature-container {
  padding: 2em 0em;
}

.wrapper .feature .feature-container h3 {
  font-size: 1.2rem;
}

.wrapper .feature img {
  width: 20%;
}

.wrapper .slogan {
  margin: 7em 0em 10em;
}

.wrapper .slogan p {
  margin: 2em o;
}

.wrapper .slogan h2 {
  margin: 2em 0 1em;
}

.wrapper .slogan p {
  padding-bottom: 1em;
}

.wrapper .slogan a {
  color: aqua;
}

.wrapper .testimonials {
  margin-bottom: 10em;
}

.wrapper .testimonials img {
  max-width: 20px;
}

.wrapper .testimonials .testimonials-container {
  background-color: #202a3c;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 2em;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .testimonials .testimonials-container .circular-square {
  border-radius: 50%;
  max-width: 30px;
}

.wrapper .testimonials .testimonials-container .client-wrap {
  margin-top: 1em;
}

.wrapper .testimonials .testimonials-container p {
  font-size: 12px;
}

.wrapper .testimonials .testimonials-container .client-name {
  font-weight: 700;
}

.wrapper .early-access-container {
  background-color: #202a3c;
  text-align: center;
  border-radius: 10px;
  padding: 2em;
}

.wrapper .early-access-container h2, .wrapper .early-access-container p {
  margin-bottom: 2rem;
}

.wrapper .early-access-container input {
  border-radius: 30px;
  border: 0px;
  padding: 1rem 4rem;
  max-width: auto;
  margin: 0 auto;
}

.wrapper .early-access-container ::-webkit-input-placeholder {
  color: #c8c8c8;
  font-size: 10px;
  text-align: left;
}

.wrapper .early-access-container :-ms-input-placeholder {
  color: #c8c8c8;
  font-size: 10px;
  text-align: left;
}

.wrapper .early-access-container ::-ms-input-placeholder {
  color: #c8c8c8;
  font-size: 10px;
  text-align: left;
}

.wrapper .early-access-container ::placeholder {
  color: #c8c8c8;
  font-size: 10px;
  text-align: left;
}

.wrapper .early-access-container .free {
  padding: 1em 4em;
}

.block {
  background-color: #0b1523;
  height: 250px;
  width: auto;
  -webkit-transform: translate(0, -210px);
          transform: translate(0, -210px);
  position: relative;
  z-index: -1;
}

footer {
  background-color: #0b1523;
  font-family: Open Sans;
  padding: 2rem;
  -webkit-transform: translate(0, -230px);
          transform: translate(0, -230px);
}

footer .logo {
  width: 50%;
}

footer .footer-container {
  margin: 4em 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
  gap: 1em;
}

footer .footer-container img {
  max-width: 100%;
}

footer ul {
  list-style-type: none;
  margin: 3em 0em;
}

footer ul li {
  margin: 1em 0;
}
/*# sourceMappingURL=style.css.map */