.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

//Google fonts
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap');

//Variables - library
$font-stack-primary: Raleway;
$font-stack-secondary: Open Sans;

$bg-email: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);

$font-color: white;

$accent-cta: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 100%);
$accent-error: hsl(0, 100%, 63%);

$font-weight-lg: 700;
$font-weight-sm: 400;

*{
    font-size: 14px;
}


// Mobile first

body{
    background-color: $bg-main;
    font-family: $font-stack-secondary;
    color: $font-color;
    margin: 2em;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $font-color;
    font-family: $font-stack-primary;
    padding-bottom: 2.5em;

    a{
        font-size: .9rem;
        color: $font-color;
        text-decoration: none;
    }
    
}

.hero{
    text-align: center;

   

    
}

h1{
    font-size: 1.7rem;
    font-weight:$font-weight-lg;
}

.cta-start{
    padding: 1em 6em;
    border-radius: $accent-cta;
    font-family: $font-stack-secondary;
    background: $accent-cta;
    color: $font-color;
    margin: 2em;
    border-radius: 30px;
}

.feature{
    text-align: center;

    img{
        width: 20%;
    }
}





.illustration-big{
    width: 100%;
}

.logo{
    width: 25%;
}

footer{
    background-color: $bg-footer;
}

// desktop
@media only screen and (min-width: 768px) {
    
}