@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

* {
  font-size: 14px;
  padding: 0;
  margin: 0;
}

.wrapper {
  background-color: #181f2a;
  font-family: Open Sans;
  color: white;
  margin: 2em;
}

.wrapper .slogan img.illustration-big {
  margin: 0 auto;
}

.wrapper .slogan h2 {
  margin: 2em 0 1em;
}

.wrapper .slogan p {
  padding-bottom: 1em;
}

.wrapper .slogan a {
  color: aqua;
}

.wrapper .testimonials {
  margin-bottom: 10em;
}

.wrapper .testimonials img {
  max-width: 20px;
}

.wrapper .testimonials .testimonials-container {
  background-color: #202a3c;
  margin-bottom: 2em;
  border-radius: 5px;
  padding: 2em;
  line-height: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .testimonials .testimonials-container .circular-square {
  border-radius: 50%;
  max-width: 30px;
}

.wrapper .testimonials .testimonials-container .client-wrap {
  margin-top: 1em;
}

.wrapper .testimonials .testimonials-container p {
  font-size: 12px;
}

.wrapper .testimonials .testimonials-container .client-name {
  font-weight: 700;
}

.wrapper .early-access-container {
  background-color: #202a3c;
  text-align: center;
  border-radius: 10px;
}

body {
  background-color: #181f2a;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  font-family: Raleway;
  padding-bottom: 2.5em;
}

nav a {
  font-size: .9rem;
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
}

.hero .hero-heading {
  margin-top: 2em;
}

.hero .hero-subheading {
  margin-top: 1.5em;
}

h1 {
  font-size: 1.7rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
}

h1, h2, h3 {
  font-family: Raleway;
}

.cta-start {
  padding: 1em 6em;
  border-radius: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  font-family: Open Sans;
  background: -webkit-gradient(linear, left top, right top, from(#65e2d9), to(#339ecc));
  background: linear-gradient(90deg, #65e2d9 0%, #339ecc 100%);
  color: white;
  margin: 2em;
  border-radius: 30px;
}

.feature {
  margin: 6em 0;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.feature .feature-container {
  padding: 2em 0em;
}

.feature .feature-container h3 {
  font-size: 1.2rem;
}

.feature img {
  width: 20%;
}

.slogan {
  margin: 7em 0em 10em;
}

.slogan p {
  margin: 2em o;
}

.illustration-big {
  width: 90%;
  margin: 0 auto;
}

.logo {
  width: 25%;
}

footer {
  background-color: #0b1523;
}

footer .logo {
  width: 50%;
}

footer .footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=style.css.map */