//Variables - library

//Fonts
$font-stack-primary: Raleway;
$font-stack-secondary: Open Sans;

//Background colours
$bg-email: hsl(217, 28%, 15%);
$bg-main: hsl(218, 28%, 13%);
$bg-footer: hsl(216, 53%, 9%);
$bg-testimonials: hsl(219, 30%, 18%);

//Font colour
$font-color: white;

//Buttons
$accent-cta: linear-gradient(90deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 100%);
$accent-error: hsl(0, 100%, 63%);

//Font weights
$font-weight-lg: 700;
$font-weight-sm: 400;
